.wrapper {
	max-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.row {
  display: flex;
}

.row__column-contacts {
  	flex: 0 1 30%;
}

.row__column-chat {
  flex: 0 1 70%;
}